.email{
  margin-bottom: 0px;
  margin-top: 0px;
}
.bar{
  margin-bottom: ;
  margin-top: 0px;
  border-radius: 5px;
  border-color: black;
}
.button{
  border-radius: 25px;
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(64, 64, 252);
  border: 0px;
  color: white;
}